@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #54b5e5;
}

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ta-wrapper {
    background: #3c424a;
    color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 7px 7px rgb(0 0 0 / 20%);
    min-height: 300px;
}

.heading h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}

.input-wrapper {
    margin-bottom: 20px;
}
.input-wrapper input {
    outline: none;
    border: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    color: white;
    width: 500px;
}
.input-wrapper button {
    background: #54b5e5;
    color: white;
    border: 0;
    padding: 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}
.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}
.todo-item input {
    background: transparent;
    border: navajowhite;
    color: white;
    outline: none;
}
.todo-item i {
    color: #e55c8a;
    background: transparent;
    border: 1px solid;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-left: 5px;
}
.todo-item button:hover {
    color: white;
}
.done {
    text-decoration: line-through;
}
.fa-x {
    padding: 6px 8px !important;
}

body.dark {
    color: #ffff;
}

.subheading {
    font-weight: 400;
    font-size: 1em;
    color: #777;
    margin-bottom: 30px;
}

body.dark-mode {
    color: #bbbbbb;
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

input, select {
    padding: 15px;
    border: 2px solid #e4e7eb;
    border-radius: 50px;
    flex: 1;
    transition: border-color 0.3s ease;
    font-size: 1em;
    color: #333;
}

body.dark-mode input, body.dark-mode select {
    background-color: #333;
    border-color: #555;
    color: #ffff;
}

input:focus, select:focus {
    border: #007bff;
    outline: none;
}

button {
    padding: 15px;
    border: none;
    border-radius: 50%;
    border-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

button:hover {
    background-color: #0056b3;
}

#dark-mode-toggle {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #ffff;
}

body.dark-mode #dark-mode-toggle {
    background-color: #333;
    color: #ffff;
}

.todo-list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

li {
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    transition: transform 0.2s, background-color 0.3s ease;
    color: #333;    
}

body.dark-mode li {
    background-color: #2c2c2c;
    color: #ffff;
}

li.hover {
    transform: translateY(-5px);
}